 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 *= require flat-ui
 *= require perfect-scrollbar
 *= require token-input-facebook
 */

#body {
  margin-top: 10px;
}

.brand {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 30px;
  color: rgb(174,52,32);
}

.navbar_tag{
  border-radius: 6px;
  background-color: rgb(30,151,217);
  color: rgb(0, 0, 0);
  font-size: 13px;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  line-height: 15px;
  padding: 5px 5px 5px 5px;
  position: relative;
  vertical-align: middle;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

#app_navbar{
  border-radius: 0px;
  background-color: rgb(35,35,35);
  padding-bottom: 10px;
  box-shadow: 0 0 6px 0;
}

.user_data {
  margin-left: 62%;
  display: inline;
  color: rgb(255,255,255);
}
.user_data a img {
  position: absolute;
}

.avatar img {
  width: 30px;
  border-radius: 7px;
}

.log_in {
  margin-left: 80%;
}

.navbar_tag {
  border-radius: 6px;
  color: rgb(0, 0, 0);
  font-size: 13px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  line-height: 15px;
  padding: 5px 5px 5px 5px;
  position: relative;
  vertical-align: middle;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

.log_out {
  margin-right: 10px;
  margin-top: 10px;
}
