// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul, li {
  list-style:none;
  list-style-type:none;
}

h1 {
  float: left;
}

.tag_bar {
  margin-left: 24%;
  margin-top: 2.4%;
}

#subtitle {
  color: rgb(141,148,156);
}

.tag {
  font-weight: bold;
}

.tag_hidden {
    display: none;
  }

#inplaylist_username {
  color: black;
  font-weight: 700;
}

#playlist-avatar {
  width: 8%;
  border-radius: 7px;
}

.active_video {
  font-size: 18px;
  color: rgb(26,188,156);
  border-radius: 1px;
  border-bottom: 1px rgb(52,73,94) solid;
  
  .video_title {
    font-weight: 900;
  }
}

.video_data {
  font-size: 18px;
  transition-property: all;
  transition-duration: 190ms;
  transition-timing-function: ease-in-out;
  position: relative;
  border-bottom: rgb(52,73,94) solid;
  border-radius: 1px;
}

.video_data:hover:not(.active_video){
  right: 5%;
  .video_title {
    color: rgb(26,188,156);
  }

}